# output files
*.png
*.jpg
*.hs
*.s
*.hv
*.ahv
*.v
!data/*.hv
!data/*.ahv
!data/*.v
!data/Lu177/tew_scatter.*
!data/Lu177/SPECTCT_NEMA_128_EM001*
!data/Tc99m/osem_reconstruction_postfilter_555*
!data/Tc99m/peak_stir.s
!data/Tc99m/peak_stir_en_1_Primary.hdr
!data/Lu177/osem_image.*
!data/Lu177/registered_CTAC.*
*.a00
*.h00
*tmp*
*.csv
simind_output/*

# keep data files
!data/*

# pycache
__pycache__/

#symlinks
*symlink*

# test notebooks
*test*.ipynb

# obsolete
obsolete/*

# unwanted simind output files
simind.s0*
simind.s1*
simind.res
scattwin.win
output.smc

# don't include simind program
simind


