# output files
*.png
*.jpg
*.hs
*.s
*.hv
*.ahv
*.v
*.a00
*.h00
*tmp*
*.csv

# keep data files
!data/*

# pycache
__pycache__/

#symlinks
*symlink*

# test notebooks
*test*.ipynb

# obsolete
obsolete/*

# unwanted simind output files
simind.s0*
simind.s1*
simind.res
scattwin.win
output.smc


